
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem auto;
    width: 250px;

}

.name,
.family {
    width: 100%;
    height: 20px;
    padding: 20px 10px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    box-sizing: border-box;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    z-index: 1;
    width: 400px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    margin: 20vh auto;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 8px 48px 8px rgba(0, 0, 0, 0.04), 0 12px 16px -8px rgba(0, 0, 0, 0.12),
        0 24px 32px 4px rgba(0, 0, 0, 0.08);
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 4px 0;
    cursor: pointer;
    padding: 10px 10px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    /* background-color: #0096c7; */

}

.ok-btn {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #007200;
    border: 2px solid #007200;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.ok-btn:hover {
    background-color: #007200;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    color: #fff;
}

.cancel-btn {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #da1e37;
    border: 2px solid #da1e37;
    border-radius: 0.3rem;
}

.cancel-btn:hover {
    background-color: #da1e37;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    color: #fff;
}

.pageWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.page:hover {
    background-color: #ccc;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
}

.dotBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 20px;
    height: 30px;
    font-size: 16px;
}